[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/iluvgirlswithglasses/nvim
[submodule ".local/share/fonts"]
	path = .local/share/fonts
	url = https://github.com/iluvgirlswithglasses/dotfiles-fonts
